@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #075053;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 30px 15px;
  align-items: center;
  width: 850px;
  gap: 70px;
  background: #fff;
  border-radius: 10px;
  justify-content: space-between;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.hangman-box img {
  user-select: none;
  max-width: 200px;
}
.game-box .word-display {
  gap: 10px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.word-display .letter {
  width: 28px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 3px solid #000;
  margin-bottom: 35px;
  font-size: 1.7rem;
}
.word-display .letter.guessed {
  border-color: transparent;
  margin: -35px 0 25px;
}
.game-box h4 {
  text-align: center;
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 1rem;
}
.game-box h4 b {
  font-weight: 600;
}
.game-box .guesses-text b {
  color: #ff0000;
}
.game-box .keyboard {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: center;
}
:where(.game-modal, .keyboard) button {
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 4px;
  text-transform: uppercase;
  background: #0b696c;
}
.keyboard button {
  padding: 7px;
  width: calc(100% / 9 - 5px);
}
.keyboard button[disabled] {
  pointer-events: none;
  opacity: 0.6;
}
:where(.game-modal, .keyboard) button:hover {
  background: #0aa5ab;
}
.game-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  padding: 0 10px;
  transition: opacity 0.4s ease;
}
.game-modal.show {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.4s 0.4s ease;
}
.game-modal .content {
  padding: 30px;
  max-width: 420px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.game-modal img {
  margin-bottom: 20px;
  max-width: 120px;
}
.game-modal img[src="images/victory.gif"] {
  margin-left: -10px;
}
.game-modal h4 {
  font-size: 1.45rem;
}
.game-modal p {
  margin: 15px 0 30px;
  font-weight: 500;
  font-size: 1.1rem;
}
.game-modal p b {
  color: #5e63ba;
  font-weight: 600;
}
.game-modal button {
  padding: 10px 18px;
}